<div class="followed-page">
  <h2>フォロー中</h2>

  <% @user.following.each do |user| %>
    <%= image_tag(user.image_url(:thumbnail))%>
    <%= link_to user.name, user_path(user.id), class: "username" %><br>
  <% end %>
</div>
