<div class="followed-page">
  <h2>フォローワー</h2>

  <% @user.followers.each do |user| %>
    <% user.introductions.each do |introduction| %>
      <%= image_tag(introduction.image_url(:thumbnail))%>
    <% end %>
    <%= link_to user.name, user_path(user.id), class: "username" %><br>
  <% end %>
</div>
