<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <%= link_to user.name, user %>
    <% if user.id != current_user.id %>
      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post%>
    <% end %><br>
  <% end %>
</ul>
