<h1>Photographers and Models</h1>
<p>top page</p>

<span>アカウントを作成する</span>
<%= link_to "登録する",  new_user_registration_path %>
<span>アカウントをお持ちですか？</span>
<%= link_to "ログインする", new_user_session_path %>
