<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Photographers and Models</h1>
      <p>〜 写真好きのカメラマンとモデルをつなぐサービス 〜</p>
      <h2 class="masthead-subheading mb-0"></h2>
      <% if user_signed_in? %>
      <% else %>
      <a href="users/sign_up" class="btn btn-primary btn-xl rounded-pill mt-5">登録</a>
      <a href="users/sign_in" class="btn btn-primary btn-xl rounded-pill mt-5">ログイン</a>
      <% end %>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag('camera-2598604_640.jpg', class:"img-fluid rounded-circle") %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">カメラマン</h2>
          <p>あなたの理想のモデルを見つけることができます。<br>撮影してきた写真を公開し、自分の世界を表現しましょう。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag('summerfield-336672_640.jpg', class:"img-fluid rounded-circle") %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">モデル</h2>
          <p>あなたの理想のカメラマンを見つけることができます。<br>カメラマンの公開している写真を閲覧し、 理想の世界観を<br>持っている人へ撮影依頼をしましょう。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag('model-956676_640.jpg', class:"img-fluid rounded-circle") %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">最高の一枚を</h2>
          <p>カメラマン、モデルとお互いに理想の相手を見つけ、撮影を楽しみましょう。</p>
        </div>
      </div>
    </div>
  </div>
</section>
