// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  background: #ededed !important;
  text-align: center;
}

.main-content{
  margin-top: 80px;
  margin-bottom: 80px;

  .post-index-page{
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
  }
}

.wrapper {
  margin-top: 120px;
  margin-bottom: 80px;

  .form-signin {
    background-color: #fff;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;

    h2 {
      font-size: 16px;
      margin-bottom: 10px;
      font-style: oblique;
    }

    .form-control {
      position: relative;
      border: none;
      border-bottom: solid thin;
      border-radius: 0;
      height: auto;
      padding: 8px;
      font-size: 13px;
      margin-bottom: 8px;
      text-align: center;
    }

    .form-label {
      font-size: 12px;
      color: #cfcfcf;
      text-transform: uppercase;
    }

    .button {
      display: block;
      margin-top: 30px;
      width: 260px;
      height: 36px;
      border-radius: 30px;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
      background: #deb887;
    }

    .cansel-button {
      display: block;
      margin-top: 30px;
      width: 260px;
      height: 36px;
      border-radius: 30px;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
      background: #c0c0c0;
    }

    span {
      font-size: 16px;
    }
  }
}
